<div class="login-block">
  <h3>Login</h3>
  <% form_tag session_path do -%>
    <p class="login-session email-login">
      <label for="login">Login:</label>
      <br />
      <%= text_field_tag 'login' %>
      <br />
      <label for="password">Password:</label>
      <br />
      <%= password_field_tag 'password' %> 
      <br />
      <span class='remember-submit'><%= submit_tag 'Log In' %></span>
      <br />
      <label for="remember_me">Remember me:</label>
      <%= check_box_tag 'remember_me' %>
      <br />
      <a href='/login'>Forgot Your Password?</a>
    </p>
  <% end -%>
</div>
