<div class="login-block">
  <h3>Login</h3>
  <% form_tag session_path do -%>
  <p class="login-session email-login"><label for="login">Login:</label>
  <%= text_field_tag 'login' %></p>
  <span class='float-clear'> </span>
  <p class="login-session"><label for="password">Password:</label>
  <%= password_field_tag 'password' %></p>
  
  <p class='remember-submit'><%= submit_tag 'Log In' %></p>
  <br class='clear' />
  <p class='remember-submit'>
    <label for="remember_me">Remember me:</label>
    <%= check_box_tag 'remember_me' %>
  </p>
  <br class='clear' />
  <% end -%>
  <h4 class='forgot'>Forgot Your Password?</h4>
  <br />
  <p class='register-blurb'>
    No problem. To receive your password via email, please enter the email address that you registered with below.
  </p>
</div>
